[Unit]
Description=Thermostat sensor inputs

[Service]
Type=simple
PIDFile=/opt/thermostate/thermo_control.pid
ExecStart=/opt/thermostate/thermo_control.py
Restart=on-failure
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
